:root {
  --darkest-blue: #7400b8;
  --darker-blue: #6930c3;
  --dark-blue: #5e60ce;
  --mid-blue: #5390d9;
  --light-blue: #4ea8de;
  --lighter-blue: #48bfe3;
  --lightest-blue: #56cfe1;
  --least-green: #64dfdf;
  --mid-green: #72efdd;
  --most-green: #80ffdb;
}

body {
  background: linear-gradient(
    90deg,
    var(--lightest-blue) 0%,
    var(--darkest-blue) 100%
  );
  color: var(--most-green);
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}

.name-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#header-contatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}
.the-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
  text-decoration: underline;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
 
}

.input-group {
  width: 30% !important;
}

.ingredients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  nav-down: 30px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--darkest-blue) !important;
  background-color: var(--most-green) !important;
  height: 2.5em;
  margin-top: -1px !important;
}
button:hover {
  color: var(--most-green) !important;
  background-color: var(--darkest-blue) !important;
}
.submit-ingredients-btn {
  display: flex;
  color: pink;
}

#list-of-entered-ingredients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}
.recipe-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}
.saved-recipes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}

#ingreds-input-container {
  visibility: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: var(--darkest-blue);
}
p.copyright {
  color: #fff;
  line-height: 40px;
  font-size: 10px;
  text-align: center;
  bottom: 0;
}
