:root {
  --darkest-blue: #7400b8;
  --darker-blue: #6930c3;
  --dark-blue: #5e60ce;
  --mid-blue: #5390d9;
  --light-blue: #4ea8de;
  --lighter-blue: #48bfe3;
  --lightest-blue: #56cfe1;
  --least-green: #64dfdf;
  --mid-green: #72efdd;
  --most-green: #80ffdb;
}

body {
  background: linear-gradient(
    90deg,
    var(--lightest-blue) 0%,
    var(--darkest-blue) 100%
  );
  color: var(--most-green);
  min-height: 150vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}

.name-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#header-contatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}
.the-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
  font-size: 45px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}

.width-input {
  width: 30% !important;
}

.ingredients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#add-ingredient-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--darkest-blue) !important;
  background-color: var(--most-green) !important;
  height: 2.5em;
  margin-top: 0px !important;
}

.round-btn {
  border-radius: 95px !important;
}

.button:hover {
  color: var(--most-green) !important;
  background-color: var(--darkest-blue) !important;
  box-shadow: 1px 1px 5px rgb(226, 202, 247);
}

.margin-btn {
  margin-top: 5px !important;
}

#list-of-entered-ingredients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}
.recipe-card {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--darkest-blue);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 50px rgb(17, 17, 17);
}
#saved-recipes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--darkest-blue);
  color: var(--most-green);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
}

#ingreds-input-container {
  visibility: hidden;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: var(--darkest-blue);
  margin-top: 50px;
  text-align: center !important;
}
p.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--most-green);
  line-height: 40px;
  font-size: 10px;
  text-align: center;
}
