:root {
  --darkest-blue: #7400b8;
  --darker-blue: #6930c3;
  --dark-blue: #5e60ce;
  --mid-blue: #5390d9;
  --light-blue: #4ea8de;
  --lighter-blue: #48bfe3;
  --lightest-blue: #56cfe1;
  --least-green: #64dfdf;
  --mid-green: #72efdd;
  --most-green: #80ffdb;
}

body {
  background: linear-gradient(
    90deg,
    var(--lightest-blue) 0%,
    var(--darkest-blue) 100%
  );
  color: var(--most-green);
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}
#header-contatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}
.the-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}
.ingredients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}

#list-of-entered-ingredients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}
.recipe-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}
.saved-recipes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--most-green);
}

#ingreds-input-container {
  visibility: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 25%;
  color: var(--most-green);
}
